@{
    Layout = null;
}

@model ItAcademy.ThunderSound.Client.Models.TrackViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Track</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.TrackName)
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TrackId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>